body{
  background-image: url('https://i.pinimg.com/originals/82/e8/5d/82e85d8197ad46533c94759662e0e817.gif');
  background-size: cover;
  background-size:cover;
}

}
h1{
  justify-content: center;
  color: purple;
}
ul{
  color:purple;
  font-size: 45px;
}
span{
  color: purple;
  font-size: 30px;
}
input{
  position: relative;
  display: block;
  justify-content: center;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}

button {
  border-style: solid;
  justify-content: center;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 400px;
  z-index: 10;

}

#begin{
  /* margin-top: 0px; */
}

.egg {
  background-image: url('https://i.pinimg.com/originals/a1/80/e8/a180e89bd3541d2fa23546ea5fdc3300.jpg');
  border-style: solid;
  background-size: cover;
  border-radius: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 500px;
  z-index: 5;
}

.screen {
  border-style: solid;
  width: 300px;
  height: 300px;
  position: relative;
  background-color: lightgray;
  margin-left: auto;
  margin-top: -400px;
  margin-right: auto;
  z-index: 2
}

img {
  width: 7%;
  height: 7%;
  position: absolute;
  margin-left: 800px;
  margin-top: -200px;
  margin-right: 300px;
  z-index: 3
}

#background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0%;
  background: black;
  z-index: 3;
  transition: opacity 2s;
}
